*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#header{
    padding: 20px 5rem;
    overflow: auto;
    background-color: #2C3E50;
    position: fixed;
    width: 100%;
}
#header .left{
    float: left;
    width: 30%;
}
#header .left a {
     color: #FFFFFF;
     font-size: 28px;
     font-weight: bold;
     text-decoration: none;
}
#header .right{
    width: 40%;
    float: right;
    text-align: right;
    /* margin-bottom: 30px; */
    margin-top: 10px;   
}
#header .right a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 16px;
    margin-left: 40px;
    font-weight: bold;

}
/* #start{
    text-align: center;
    padding: 4rem 5rem;
    width: 100%;
    background-color: #1ABC9C;
    overflow: auto;
}
#start .boys{
    padding-left: 1rem;
    padding-right: 1rem;
    width: 25%;
    padding-top: 1rem;
}
.boys img{
    width: 100%;
    margin-left: 28rem;
}
#start .text1{
    margin-top: 17px;
}
.text1 h1{
    text-align: center;
    color: #FFFFFF;
    font-size: 4rem;
    margin-bottom: 5px;
    line-height: 3.5rem;
}
#start .star{
    overflow: auto;
    width: 100%;
    padding: 40px;
}
.star .left{

    margin-top: 10px;
    width: 10%;
    float: left;
    margin-left: 400px;
    height: 5px;
    background-color: #FFFFFF;
    color: #FFFFFF;
    border: 0;
}
#start .star svg{
   
   width: 30px;
   color: #FFFFFF;
   margin-top: 0;
   margin-right: 34rem;
}
.star .right {
    background-color: #FFFFFF;
    border-color: #FFFFFF;
    margin-top: -20px;
    width: 10%;
    float: right;
    margin-right: 430px;
    height: 5px;
    border: 0;
    margin-bottom:0;
}
#start .text2{
    color: #FFFFFF;
    font-size: 24px;
    
} */
#start{
    background-color:#1abc9c;
    padding: 20px 5rem;
    text-align: center;
    overflow: auto;
    height: 100%;
}
#start .start-photo{
    padding-left: 1rem;
    padding-right: 1rem;
    width: 20%;
    padding-top: 1rem;
}
.start-photo img{
    width: 100%;
    margin-left: 30rem;
    margin-top: 90px;
}
#start .start-text h1{
    font-size: 64px;
    color: #fff;
    margin-top: 15px;
}
#start .star {
    width: 100%;
    padding: 40px;
    overflow: auto;
}
#start .star .left{
    margin-top: 50px;
    width: 10%;
    float: left;
    margin-left: 400px;
    height: 4px;
    background-color: #fff;
    border: 0px ;
}
#start .star .right{
    margin-top: -16px;
    width: 10%;
    float: right;
    margin-right: 415px;
    height: 5px;
    background-color: #fff;
    border: 0px ;
}
#start .star svg{
    width: 30px;
    color: #fff;
    margin-top: 35px;
    margin-right: 33rem;
}
#start p{
    margin-top: 40px;
    font-size: 24px;
    color: #fff;
}
#portfolio{
    /* text-align: center;
    padding: 4rem 5rem;
    width: 100%;
    overflow: auto; */
    padding: 20px 5rem;
    text-align: center;
    overflow: auto;
    height: 100%;
}
#portfolio .headtext h2{
    color: #2C3E50;
    font-size: 36px;
    line-height: 3.5rem;
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/* #portfolio .hr{
    overflow: auto;
    width: 100%;
    padding: 30px 5rem;
} */
#portfolio .hr{
    width: 100%;
    padding: 40px;
    overflow: auto;
}
/* .hr .lefthr hr{
    background-color: #2C3E50;
    border-color: #2C3E50;
    height: 4px;
    width: 11%;
    float: left;
    margin-left: 23rem;
} */
#portfolio .hr .left{
    margin-top: 50px;
    width: 10%;
    float: left;
    margin-left: 400px;
    height: 4px;
    background-color: #2C3E50;
    border: 0px ;
    border-color: #2C3E50;
}
#portfolio .hr svg{
    width: 30px;
    color: #1A252F;
    margin-top: 35px;
    margin-right: 33rem;
}
/* .hr .righthr hr{
    background-color: #2C3E50;
    border-color: #2C3E50;
    height: 4px;
    width: 11%;
    float: right;
    margin-right: 22rem;    
} */
#portfolio .hr .right{
    margin-top: -16px;
    width: 10%;
    float: right;
    margin-right: 415px;
    height: 5px;
    background-color: #2C3E50;
    border-color: #2C3E50;
    border: 0px ;
}

.picture .pictures{
    width: calc(100%/3);
    float: left;
    text-align: center;
    padding: 0 20px;
}
#portfolio .pictures img{  
    width: 100%;
    margin-bottom: 20px;
    border-radius: 5px; 
    transition: .3s; 
}
.picture .pictures:hover img{
    
    filter: grayscale();
}
#about{
    padding: 4rem 5rem;
    width: 100%;
    overflow: auto;
    background-color: #1ABC9C;
    text-align: center;
}
#about .abtext h2{
   color: #FFFFFF;
   font-size: 40px;
   margin-bottom: 0px;
   text-align: center;
   margin-right: 20px;
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/* #about .hr1{
    overflow: auto;
    width: 100%;
    padding: 30px 5rem;
} */
#about .hr1{
    width: 100%;
    padding: 40px;
    overflow: auto;
}
/* .hr1 .lefthr1 hr{
    background-color: #FFFFFF;
    border-color: #FFFFFF;
    height: 4px;
    width: 11%;
    float: left;
    margin-left: 23rem;
} */
#about .hr1 .left{
    margin-top: 20px;
    width: 10%;
    float: left;
    margin-left: 400px;
    height: 4px;
    background-color: #FFFFFF;
    border: 0px ;
    border-color: #FFFFFF;
}
#about .hr1 svg{
    width: 30px;
    color: #fff;
    margin-top: 9px;
    margin-right: 34rem;
}

/* .hr1 .righthr1 hr{
    background-color: #FFFFFF;
    border-color: #FFFFFF;
    height: 4px;
    width: 11%;
    float: right;
    margin-right: 22rem;    
} */
#about .hr1 .right{
    margin-top: -20px;
    width: 10%;
    float: right;
    margin-right: 430px;
    height: 5px;
    background-color: #FFFFFF;
    border-color: #FFFFFF;
    border: 0px ;
}
#about .foottext{
    width: 100%;
    overflow: auto;
    margin-bottom: 30px;
}
#about .foottext .p1 p{
    width: 30%;
    color: #FFFFFF;
    font-size: 20px;
    margin-bottom: 16px;
    float: left;
    margin-left: 11rem;
    text-align: left;
}
#about .foottext .p2 p{
    width: 30%;
    color: #FFFFFF;
    font-size: 20px;
    margin-bottom: 16px;
    float: right;
    padding-left: 10px;
    margin-right: 15rem;
    text-align: left;
}
#about .download a{
    color: transparent;
    text-decoration: none;
    color: #f8f9f8;
    font-size: 20px;
    padding: 16px 28px;
    border-radius: 10px;
    border-color: #f8f9f8;
    border: #f8f9f8 1px solid;
    margin-bottom: 50px;
    transition: .1s;

}
#about .download:hover a{
    background-color: #FFFFFF;
    color: black;
}
#contact{
    padding: 4rem 5rem;
    text-align: center;
    overflow: auto;
    width: 100%;
}
#contact .headtext h2{
    color: #2C3E50;
    font-size: 36px;
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/* #contact .hr2{
    overflow: auto;
    width: 100%;
    padding: 30px 5rem;
} */
#contact .hr2{
    width: 100%;
    padding: 40px;
    overflow: auto;
}
/* .hr2 .lefthr2 hr{
    background-color: #2C3E50;
    border-color: #2C3E50;
    height: 4px;
    width: 11%;
    float: left;
    margin-left: 23rem;
} */
#contact .hr2 .left{
    margin-top: 50px;
    width: 10%;
    float: left;
    margin-left: 400px;
    height: 4px;
    background-color: #2C3E50;
    border: 0px ;
    border-color: #2C3E50;
}
#contact .hr2 svg{
    width: 30px;
    color: #1A252F;
    margin-top: 35px;
    margin-right: 33rem;
}
/* .hr2 .righthr2 hr{
    background-color: #2C3E50;
    border-color: #2C3E50;
    height: 4px;
    width: 11%;
    float: right;
    margin-right: 22rem;    
} */
#contact .hr2 .right{
    margin-top: -16px;
    width: 10%;
    float: right;
    margin-right: 415px;
    height: 5px;
    background-color: #2C3E50;
    border-color: #2C3E50;
    border: 0px ;
}
#contact .inputs{
    width: 50%;
    margin-left: 19rem;
    
}
.inputs input{
    width: 100%;
    padding: 24px 48px 24px 0;
    margin-bottom: 20px;
    border: 0;
    border-bottom: 1px solid black;
    border-width: 1px;
    font-size: 24px;
}
.inputs textarea{
    border: 0;
    border-bottom: 1px solid black;
    border-width: 1px;
    font-size: 13px;
}
.inputs button{
    background-color: #1ABC9C;
    color: #FFFFFF;
    font-size: 20px;
    padding: 25px 35px;
    border-radius: 10px;
    border-color: #1ABC9C;
    border: #1ABC9C;
    margin-top: 10px;
    text-align: left;
    margin-right: 31rem;

}
input:focus , textarea:focus{
    font-size: 15px;
    outline: none;
}
#info{
    padding: 4rem 5rem;
    overflow: auto;
    width: 100%;
    background-color: #2C3E50;
}
#info .texts{
    text-align: center;
}
#info .text1{
     width: 33%;
     float: left;
     text-align: center;
     margin-top: 50px;
     padding-left: 11rem;
}
#info .text1  .top h4{
    color: #FFFFFF;
    font-size: 24px;
    margin: 0 0 24px;
}
#info .text1 .bottom p{
    color: #FFFFFF;
    font-size: 20px;
}
#info .text2 .topcenter{
    text-align: center;
    margin-right: 25rem;
    overflow: auto;
    width: 33%;
}
#info  .text2 .topcenter h4{
    color: #FFFFFF;
    font-size: 23px;
    margin: 0 0 24px;
    margin-top: 40px;
    overflow: auto;
    padding-left: 10px;
}
#info .text3{
    float: right;
    width: 33%;
    text-align: center;
    margin-top: -55px;
}
#info .text3 .top1 h4{
    color: #FFFFFF;
    font-size: 24px;
    margin: 0 0 24px;
    font-weight: bold;
}
#info .text3 .bottom1 p{
    color: #FFFFFF;
    font-size: 20px;
}
#info .text3 .bottom1  a{
    color: #1ABC9C;
}
#footer{
    padding: 30px 5rem;
    background-color: #1A252F;
    color: #FFFFFF;
}
#footer .copy p{
    font-size: 14px;
    text-align: center;
    font-weight: bolder;
}






